/*==================== GOOGLE FONTS =================*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/*==================== VARIABLES CSS ================*/
:root {
    --header-height: 3.5rem;


    /*=========== Colors ============*/
    /* Color mode HSL (hue, saturation, lightness)*/
    --first-color: hsl(207, 65%, 65%);
    --title-color: hsl(207, 4%, 16%);
    --text-color: hsl(207, 4%, 28%);
    --text-color-light: hsl(207, 4%, 56%);
    --body-color: hsl(207, 4%, 99%);
    --container-color: hsl(207, 4%, 95%);

    /* Change the first number */
    /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
    --gradient-color: linear-gradient(180deg,
                        hsla(207, 48%, 72%, 0),
                        hsla(207, 65%, 65%, 1));

    /*============== Font and typography =============*/
    /* .5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Lora', serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /*========== Font weight =========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index =========*/
    --z-normal: 1;
    --z-tooltip: 10;
    --z-index: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
        --tiny-font-size: .688rem;
    }
}

/*============== BASE =============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background .4s; /* for dark mode animation */
}

h1, h2, h3 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== THEME =============*/


/*=============== Variables Dark Theme ==============*/
body.dark-theme {
    --title-color: hsl(207, 4%, 95%);
    --text-color: hsl(207, 4%, 65%);
    --body-color: hsl(207, 4%, 10%);
    --container-color: hsl(207, 4%, 12%);
}

/*=============
    Color changes in some parts of
    the website, in light theme
===============*/


/*============== REUSABLE CSS CLASSES ================*/
.container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2.5rem;
}

.section_border {
    border-bottom: 1px solid var(--title-color);
    padding-bottom: 3.5rem;
}

.section_title,
.section_subtitle {
    text-align: center;
}

.section_title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    margin-bottom: 3rem;
}

.main {
    overflow: hidden; /* For animation */
}

/*=============== HEADER & NAV ===============*/


/* Show menu */


/* Active link */


/*=============== HOME ===============*/
.home_container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.home_subtitle {
    margin-bottom: 5rem;
}
/* LEFT COLUMN */
.home_left {
    flex: 1;
    flex-direction: column;
    gap: 1.75rem;
    text-align: left;
}

.home_bio-title {
    margin-top: 11rem;
    margin-bottom: 2rem;
}

.home_services {
    margin-top: 5rem;
}

.services_title {
    margin-bottom: 2rem;
}

.contact_title {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

/* CENTER COLUMN */
.home_center {
    flex: 1;
    text-align: center;
}

/* RIGHT COLUMN */
.home_right {
    flex: 1;
    flex-direction: column;
    text-align: right;
    gap: 1.75rem;
}

.experience_time {
    margin-top: 15;
    margin-bottom: 5;
}

/* This styles the placeholder box from earlier */
.home_img {
    width: 250px;
    height: 250px;
    background: var(--gradient-color, gray);
    border-radius: 50%; /* Makes it a circle */
    box-shadow: 0 4px 12px hsla(207, 65%, 65%, 0.25);
    margin: 0 auto;
}


.home_stat {
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.home_stat h3 {
    font-size: 2.5rem;
    font-weight: var(--font-semi-bold);
}

.home_stat p {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
}

.home_socials a {
    font-size: 2rem;
    color: var(--title-color);
    transition: .3s;
}

.home_socials a:hover {
    color: var(--first-color);
    margin-top: 1rem;
}
/*=============== BUTTONS ==============*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: box-shadow .4s;
}

.button:hover {
    box-shadow: 0 8px 24px hsla(207, 65%, 65%, .4);
}

/*=============== SKILLS ===============*/


/* Animation skills */


/*=============== QUALIFICATION ===============*/


/*=============== SERVICES ===============*/


/*=============== PROJECTS ===============*/


/* Swiper class */


/*=============== TESTIMONIAL ===============*/


/* Swiper class */


/*=============== CONTACT ===============*/


/* Status color */


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */

/* For tablets and desktops */
@media screen and (min-wodth: 768px) {
    .home_container {
        /* Creates two equal columns: one for text, one for image */
        grid-template-columns: 1fr 1fr;
        align-items: center; /* Vertically centers the text and the circle */
        column-gap: 3rem;
    }

    /* Text to look better on desktop */
    .home_content {
        text-align: left;
    }
}